.navbar{
  padding: 10px 0;
}
.navbar-tootgle{
  color: #ffff;
}
.navbar-menu{
  background-color: red;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  width: 100%;
  margin: 0;
  z-index: 999999;
}
